In [2]:
library(coxed)

In [3]:
n = 365*10

In [4]:
simdata = sim.survdata(N=1000, T=n, num.data.frames=1)

In [5]:
head(simdata$data, 10)

   X1          X2           X3          y    failed
1  -0.35223828 -0.518324044  0.08131158 1987 TRUE
2  -0.48757470  0.085498316  0.68745302 2903 TRUE
3   0.02051198 -0.142413555 -0.66347612 1898 TRUE
4   0.15897273 -1.196602938  0.71100519 2871 TRUE
5   0.52761330  0.009251314 -0.09098412 1861 TRUE
6   0.49180182 -0.169474184 -0.22838663 2039 TRUE
7  -0.43491300  1.006058832  0.15191942 2075 TRUE
8  -0.19406636  0.104316167  0.34258774 3611 TRUE
9  -0.21635406 -0.021979539 -0.24196922 2865 TRUE
10  0.12622593  0.376498741  0.09221119 2905 TRUE

In [6]:
head(simdata$xdata, 10)

   X1          X2           X3
1  -0.35223828 -0.518324044  0.08131158
2  -0.48757470  0.085498316  0.68745302
3   0.02051198 -0.142413555 -0.66347612
4   0.15897273 -1.196602938  0.71100519
5   0.52761330  0.009251314 -0.09098412
6   0.49180182 -0.169474184 -0.22838663
7  -0.43491300  1.006058832  0.15191942
8  -0.19406636  0.104316167  0.34258774
9  -0.21635406 -0.021979539 -0.24196922
10  0.12622593  0.376498741  0.09221119

#### True coefficients

In [7]:
simdata$betas

     [,1]
[1,]  0.11982303
[2,] -0.03529623
[3,] -0.03066299

In [8]:
model <- coxph(Surv(y, failed) ~ X1 + X2 + X3, data=simdata$data)
model$coefficients

         X1          X2          X3
 0.15979961 -0.05866648  0.01558948

In [9]:
model

Call:
coxph(formula = Surv(y, failed) ~ X1 + X2 + X3, data = simdata$data)

       coef exp(coef) se(coef)      z      p
X1  0.15980   1.17328  0.06951  2.299 0.0215
X2 -0.05867   0.94302  0.06596 -0.889 0.3738
X3  0.01559   1.01571  0.06670  0.234 0.8152

Likelihood ratio test=6.34  on 3 df, p=0.09609
n= 1000, number of events= 901

In [14]:
concordance(model)

Call:
concordance.coxph(object = model)

n= 1000
Concordance= 0.5231 se= 0.01113
concordant discordant     tied.x     tied.y    tied.xy
    234139     213472          0       1471          0